@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 500;
}

h1
{
  font-size: 37px;
}

h2
{
  font-size: 30px;
}

h3
{
  font-size: 27px;
}

h4
{
  font-size: 23px;
}

h5
{
  font-size: 20px;
}

h6
{
  font-size: 16px;
}

a
{
  text-decoration: none;
}

p
{
  padding: .5rem 0;
  color: #212529;
}

.row
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.col-3
{
  width: 25%;
}

.col-4
{
  width: 33.33333333%;
}

.navbar
{
  padding: 1rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  color: #fff;
  background-color: #212529;
}

.nav-link
{
  color: #ffffff
}

.ptr
{
  cursor: pointer;
}

.collapse
{
  padding: 0.5rem 0;
}

.sidebar
{
  width: 18.75rem;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: #fff;
  background-color: #212529;
  transition: 0.5s;
}

.sidebar-toggle
{
  font-size: 14px;
  cursor: pointer;
}

.sidebar-collapse
{
  display: inline;
  margin-left: .25rem;
}

.sidebar-collapse-sub
{
  margin-left: 2rem;
}

.sidebar-collapse-sub2
{
  margin-left: 2rem;
}

.sidebar-list
{
  padding: 1rem 2rem;
  font-size: 14px;
  list-style-type: none;
}

.sidebar-list-item > ul
{
  list-style-type: none;
}

.sidebar-list-item
{
  padding: .5rem 0;
}

.sidebar a
{
  color: #fff;
}

.main
{
  margin-left: 18.75rem;
  padding: 3rem;
  transition: .5s;
}

.breadcrumb
{
  padding-bottom: .5rem;
  list-style: none;
}

.breadcrumb li
{
  display: inline;
}

.breadcrumb li+li:before
{
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.img-top
{
  padding-top: 1rem;
}

.img-right
{
  margin-left: 1rem;
  float: right;
  clear: right;
}

.img-left
{
  margin-right: 1rem;
  float: left;
  clear: left;
}

.div-top
{
  padding-top: 1rem;
}

.article-heading
{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
  font-weight: 500;
}

.article-heading-2
{
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #000;
}

.article-heading-3, .article-heading-4
{
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.article-heading-img
{
  max-width: 20rem;
}

.article-list
{
  margin-left: 1rem;
}

.article-list li
{
  padding: .5rem 0
}

.character-card
{
  width: 15rem !important;
  margin: 0 auto !important;
  border: none;
}

.character-card-img
{
  width: 15rem !important;
  height: 20rem !important;
  object-fit: contain !important;
  text-align: center !important;
}

.articleImg-card-img
{
  width: 100%;
}

.articleImg-card-body
{
  border: 1px solid lightgray;
}

.articleImg-card-text
{
  padding: 1rem 1rem 0 1rem;
}

.article-quote
{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.card
{
  margin: 1rem 0;
}

.card-top, .card-body
{
  text-align: center;
}

.card-body
{
  padding-top: 1rem;
}

.card-img
{
  max-width: 90%
}

.card-img-vertical
{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-img-horizontal
{
  width: 200px;
  height: 170px;
  object-fit: cover;
}

table
{
  border-collapse: collapse;
}

td, th
{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.table-center
{
  margin: 2rem auto;
  padding: 2rem 0;
}

.table-list
{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.table-list-link
{
  padding: 0.5rem;
}

.table-list-link:hover
{
  text-decoration: underline;
}

.allArticles-list
{
  gap: 10px;
  column-count: 2;
  column-gap: 20px;
  list-style: none;
}

@media screen and (max-width: 768px)
{
  .sidebar
  {
    width: 0;
  }

  .main
  {
    margin-left: 0;
  }
}