@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a
{
  font-family: 'Roboto';
  text-decoration: none;
}

.sidebar
{
  width: 15.625rem;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.main
{
  margin-left: 15.625rem;
}

.card
{
  width: 20rem;
  margin: 0 auto;
  border: none;
}

.card-body
{
  text-align: center;
}

.card-title
{
  color: #0d6efd;
}

.card-img-top
{
  width: 20rem;
  height: 10rem;
  object-fit: contain;
  text-align: center;
}