@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a
{
  font-family: 'Roboto';
  text-decoration: none;
}

.sidebar
{
  overflow: hidden auto;
  position: sticky;
  top: 0.1px;
  box-sizing: border-box;
  max-height: calc(100vh - (0.1px * 2));
}

.card
{
  width: 20rem;
  margin: 0 auto;
  border: none;
}

.card-body
{
  text-align: center;
}

.card-title
{
  color: #0d6efd;
}

.card-img-top
{
  width: 20rem;
  height: 10rem;
  object-fit: contain;
  text-align: center;
}